<style type="text/css">
  .pagination{float: none;}
</style>
<div class="main">
<h3>产品展示</h3>
<ul>
<li>您现在的位置：</li>
<li>
<a href="{:U('Index/index')}">首页</a>&gt;
<a href="{:U('Products/index')}">产品展示</a> &gt; 
</li>
</ul>
  <div class="tupian">
   <ol class="zs">
        <volist name="list" id="vo">
          <li>
          <a href="{:U('Products/view',array('id'=>$vo['id']))}" title="{$vo.title}">
          <img src="{$vo.url}" width="295" height="202">
          </a>
          <p>
          <a href="{:U('Products/view',array('id'=>$vo['id']))}" title="{$vo.title}">{$vo.title}
          </a>
          </p>
          </li>
        </volist>
    </ol>
    <div class="page">
      {$_page}
    </div>
  </div>
</div>