<div class="main">
 <div class="main_top">
  <h3>{$current.title}</h3>
  <p>
  </p>
  <div style="text-align: center;">
  <img src="{$current.url}"></div>
  <p></p>
  <dl>
    <if condition="$prev">
      <dd>上一篇：<a href="{:U('Products/view',array('id'=>$prev['id']))}">​{$prev.title}</a></dd>
    <else/>
      <dd>上一篇：<a href="javascript:alert('这已经是第一篇了')">​第一篇</a></dd>
    </if>
    <if condition="$next">
    <dd>下一篇：<a href="{:U('Products/view',array('id'=>$next['id']))}">{$next.title}</a></dd>
    <else/>
    <dd>下一篇：<a href="javascript:alert('这已经是最后一篇了')">最后一篇</a></dd>
    </if>
  </dl>
 </div>
 <div class="main_btm">
  <p>阅读详情</p>
  <ol>
      <volist name="random" id="vo">
      <li>
      <a href="{:U('Products/view',array('id'=>$vo['id']))}" title="{$vo.title}">{$vo.title}</a>
      </li>
    </volist>
  </ol>
 </div>
</div>