<div class="footer"> &copy; Copyright 1998-2016&nbsp;www.whjkcy.com&nbsp;All Rights Reserved.武汉吉客餐饮管理有限公司 版权所有 &nbsp;鄂ICP备15013625号-2&nbsp; </div>
</div>
</body>
<script type="text/javascript">
$(function(){jQuery(".index_main").slide({mainCell:".index_main_l ul",autoPage:true,effect:"top",autoPlay:true,vis:5});})
$(function(){jQuery(".con").slide({mainCell:"ul",autoPage:true,effect:"left",autoPlay:true,scroll:1,vis:1,mouseOverStop:true});})
$('.slid .qq').mouseover(function(){ $('#qq').stop().slideDown(500).siblings().hide();}).mouseout(function(){$('#qq').hide();})
$('.slid .weixin').mouseover(function(){ $('#weixin').stop().slideDown(500).siblings().hide();}).mouseout(function(){$('#weixin').hide();})
$('.slid .sina').mouseover(function(){ $('#sina').stop().slideDown(500).siblings().hide();}).mouseout(function(){$('#sina').hide();})
</script>
</html>