<!DOCTYPE>
<html>
<head>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="武汉吉客餐饮管理有限公司">
<meta name="description" content="武汉吉客餐饮管理有限公司官方网站。">
<title>武汉吉客餐饮管理有限公司官网</title>

<link rel="shortcut icon" href="juewei.ico">
<link rel="Bookmark" href="juewei.ico">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/Home/js/html5shiv.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slider.js"></script>
</head>
<body>
<div class="bj">
    <div class="header">
        <h1><img src="__PUBLIC__/Home/image/h1.png" width="301" height="28" /><br/><p>0766-7593512</p></h1>
        <div class="nav">
            <ul>
                <li><a href="http://www.whjkcy.com">首页</a></li>
                <li><a href="http://www.whjkcy.com/html/Company/">关于我们</a><dl id="xia">	<dd><a href="http://www.whjkcy.com/html/Company/gongsijianjie/">公司简介</a></dd><dd><a href="http://www.whjkcy.com/html/Company/gongsiwenhua/">公司文化</a></dd><dd><a href="http://www.whjkcy.com/html/Company/gongsituandui/">公司团队</a></dd></dl></li>
                <li><a href="http://www.whjkcy.com/html/News/">新闻动态</a><dl id="xia">	<dd><a href="http://www.whjkcy.com/html/News/gongsixinwen/">公司新闻</a></dd><dd><a href="http://www.whjkcy.com/html/News/xingyedongtai/">行业动态</a></dd></dl></li>
                <li><a href="http://www.whjkcy.com/html/Products/">产品展示</a></li>
                <li><a href="http://www.whjkcy.com/html/jiamengwenda/">加盟问答</a><dl id="xia">	<dd><a href="http://www.whjkcy.com/html/jiamengwenda/changjianwenti/">常见问题</a></dd><dd><a href="http://www.whjkcy.com/html/jiamengwenda/touziyusuan/">投资预算</a></dd><dd><a href="http://www.whjkcy.com/html/jiamengwenda/jiamengtiaojian/">加盟条件</a></dd><dd><a href="http://www.whjkcy.com/html/jiamengwenda/jiamengliucheng/">加盟流程</a></dd><dd><a href="http://www.whjkcy.com/html/jiamengwenda/jiamengfeiyong/">加盟费用</a></dd></dl></li>
                <li><a href="http://www.whjkcy.com/html/lixiwomen/">联系我们</a></li>
            </ul>
        </div>
    </div>