<!DOCTYPE>
<html>
<head>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="成都武氏集团餐饮有限公司">
<meta name="description" content="成都武氏集团餐饮有限公司官方网站。">
<title>成都武氏集团餐饮有限公司官网</title>

<link rel="shortcut icon" href=__PUBLIC__/Home/image/"LOGO.ico">
<link rel="Bookmark" href="__PUBLIC__/Home/image/LOGO.ico">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/Home/js/html5shiv.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slider.js"></script>
</head>
<body>
<div class="bj">
    <div class="header">
        <h1><img src="__PUBLIC__/Home/image/h1.png" width="301" height="28" /><br/><p>0766-7593512</p></h1>
        <div class="nav">
            <ul>
                <li><a href="{:U('index')}">首页</a></li>
                <li><a href="{:U('Show/intruduce')}">关于我们</a>
                    <dl id="xia">
                        <dd><a href="{:U('Show/intruduce')}">公司简介</a></dd>
                        <dd><a href="{:U('Show/cultural')}">公司文化</a></dd>
                        <dd><a href="{:U('Show/team')}">公司团队</a></dd>
                    </dl>
                </li>
                <li><a href="{:U('Show/news')}">新闻动态</a>
                    <dl id="xia">
                        <dd><a href="{:U('Show/news')}">公司新闻</a></dd>
                        <dd><a href="{:U('Show/dynamics')}">行业动态</a></dd>
                    </dl>
                </li>
                <li><a href="{:U('Products/index')}">产品展示</a></li>
                <li>
                    <a href="{:U('Question/index')}">加盟问答</a>
                    <dl id="xia">
                        <dd><a href="{:U('Question/index')}">常见问题</a></dd>
                        <dd><a href="{:U('Question/budget')}">投资预算</a></dd>
                        <dd><a href="{:U('Question/condition')}">加盟条件</a></dd>
                        <dd><a href="{:U('Qusetion/process')}">加盟流程</a></dd>
                        <dd><a href="{:U('Question/cost')}">加盟费用</a></dd>
                    </dl>
                </li>
                <li><a href="{:U('Show/contact')}">联系我们</a></li>
            </ul>
        </div>
    </div>
