<div class="banner">
  <ul>
   <li><a href="#"><img src="__PUBLIC__/Home/image/banner_02.jpg" width="601" height="330" /></a></li>
  </ul>
 </div>
 <div class="index_main">
  <li class="index_main_l">
  <h2>最新动态</h2> 
  <p><a href="{:U('Show/news')}">更多</a></p>
   <ul>
   <volist name="news" id="vo">
    <li>
    <div id="bt">
    <a href="{:U('Show/view',array('id'=>$vo['id']))}" title="{$vo.title}">{$vo.title}
    </a>
    </div>
    <span>
    <a href="{:U('Show/view',array('id'=>$vo['id']))}">【详细】</a>
    </span>
    </li>
    </volist>
   </ul>
  </li>
  <li class="index_main_z">
  <h2>产品展示</h2> 
  <p><a href="{:U('Products/index')}">更多</a></p>
  <div class="con">
    <ul>
    <volist name="products" id="vo">
      <li>
        <a href="{:U('Products/view',array('id'=>$vo['id']))}" title="{$vo.title}">
        <img src="__ROOT__/{$vo.url}" width="310" height="172" />
        </a>
      </li>
      </volist>
    </ul>
   </div>
  </li>
  <li class="index_main_r">
   <h2>关于我们</h2> 
   <p><a href="{:U('Show/intruduce')}">更多</a></p>
   <div class="wenzi"> 欢迎访问武氏集团有限公司官方网站！我公司是以特色饮食研发服务、连锁经营为一体的先进企业。1999年公司从武汉起源，本着传承与发扬中华特色饮食为己任，由全国饮食界多名大师组建的技术研发团队，使武汉鸭脖迅速成为众多饮食连锁行业中的知名品牌。公司以技术为平台，以管理为导向，以市场为根源，以品牌为核心，引领更多有梦想的人士共赢未来。
<div>
<h1>鸭脖起源</h1>
<p>
{$about.content|htmlspecialchars_decode|strip_tags|mb_substr=###,0,80,'utf-8'}
<br />
&nbsp;</p>
</div>
<br />
</div>
  </li>
</div>
 <div class="zhichi">
 <ul>
 </ul>
</div>
 
