<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>联系我们</dt>
  </dl>
 </li>
 <li class="main_r">
  <p>联系我们</p>
  <ul>
  <li>您现在的位置：</li>
  <li><a href="{:U('Index/index')}">首页</a>&gt;
  <a href="{:U('Show/contact')}">联系我们</a> &gt; 
  </li>
  </ul>  
  <div id="wenzi"><strong><br>
<br>
鸭脖总部电话：<span style="color:#ff0000;">400-605-8088 &nbsp;&nbsp;027-83758888&nbsp;</span></strong><br>
<strong><strong>鸭脖总部地址：<span style="color:#ff0000;">湖北省武汉市汉口江汉区新华西路三金华都5栋8号商铺1-3层（新华西路与马场路交叉口，招商银行旁）。</span></strong></strong><br>
<strong>乘车方式：（<span style="color:#ff0000;">提前电话预约，我公司可以安排专车免费接站</span>）。</strong><br>
<span style="color:#ff0000;">汉口火车站</span>：乘610路公交车到“新华路马场路站”下车即到。<br>
<span style="color:#ff0000;">武汉火车站</span>：乘610路公交车到“新华路马场路站”下车前行50米即到。<br>
<span style="color:#ff0000;">武昌火车站</span>：乘561路公交车到“新华路马场路站”下车前行50米即到。<br>
<span style="color:#ff0000;">武汉天河机场</span>：乘坐机场大巴到汉口火车站（18元钱）下车换乘的士（10元钱）到总部。<br>
<br>
<br>
  </div>
 </li>
</div>