<div class="main">
    <li class="main_l">
        <dl>
            <dt>关于我们</dt>
            <dd>
                <a href="{:U('Show/intruduce')}">公司简介</a>
            </dd>
            <dd id="line">
                <a href="{:U('Show/cultural')}">公司文化</a>
            </dd>
            <dd>
                <a href="{:U('Show/team')}">公司团队</a>
            </dd>
        </dl>
    </li>
    <li class="main_r">
        <p>公司文化</p><ul><li>您现在的位置：</li><li><a href="{:U('Show/intruduce')}">首页</a>&gt;<a href="{:U('Show/intruduce')}">关于我们</a> &gt; <a href="{:U('Show/cultural')}">公司文化</a> &gt; </li></ul>
        <div id="wenzi"><span style="widows: 1;">企业使命：能带给您健康的私家美食厨房。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">经营宗旨：分享美味、共享财富。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">发展方针：传播美味、宏扬文化；关注民生、健康生活；</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">创富项目、引领致富；团结共嬴、追求卓越。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">服务理念：客户满意度是我们成功的源泉。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">用人原则：任人唯贤，德为先；以终为始,绩为效。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">广告词：享受美味！</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">企业价值观：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br style="widows: 1;">
            <span style="widows: 1;">1.专注专业：因专注更专业，因专业而成功；七年成长，一如继往，成就今天。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">2.创新发展：传承悠久文化，技术创新、产品创新、服务创新、模式创新；持续改进、成就辉煌。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">3.分享成功：分享是一种博大的胸怀；分享凝聚人心，分享拥有平台；因分享而发展，因分享而成就未来。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">4.诚信团结：诚信是立足之本、团结是发展之源；我们以诚相待、相互信任、团结一致、共创辉煌。</span><br style="widows: 1;">
            <br style="widows: 1;">
            <span style="widows: 1;">5.追求卓越：因追求而完美、因完美而成就品质；简单的事重复做好是优秀、做到极致是卓越，不断超越自我，达致卓越。</span><br>
        </div>
    </li>
</div>
