<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>新闻动态</dt>
  <dd>
    <a href="{:U('Show/news')}">公司新闻</a>
  </dd>
  <dd id="line">
    <a href="{:U('Show/dynamics')}">行业动态</a>
  </dd>
</dl>
 </li>
 <li class="main_r">
 <p>公司新闻</p>
 <ul>
 <li>您现在的位置：</li>
 <li>
 <a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Index/news')}">新闻动态</a> &gt; 
 <a href="{:U('Index/dynamics')}">行业动态</a> &gt; 
 </li>
 </ul>
  <div class="mainon">
   <dl>
     <volist name="list" id="vo">
  	<dd>
	<h2>
	<a href="{:U('Article/view',array('id'=>$vo['id']))}">{$vo.title}</a></h2>
	{$vo.content|htmlspecialchars_decode|strip_tags|sub_str=###,0,80,'utf-8'}<span>
	<a href="{:U('Article/view',array('id'=>$vo['id']))}">【详细】</a></span>
	</dd>
     </volist>
  </dl>
  <div class="page">
	{$_page}
  </page>
  </div>
 </li>
</div>
