<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>新闻动态</dt>
  <dd id="line">
    <a href="{:U('Show/news')}">公司新闻</a>
  </dd>
  <dd>
    <a href="{:U('Show/dynamics')}">行业动态</a>
  </dd>
</dl>
 </li>
 <li class="main_r">
 <p>公司新闻</p>
 <ul>
 <li>您现在的位置：</li>
 <li>
 <a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Index/news')}">新闻动态</a> &gt; 
 <a href="{:U('Index/news')}">公司新闻</a> &gt; 
 </li>
 </ul>  
  <div class="mainon">
   <dl>
  	<dd>
    <h2>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0511/43.html">​鸭脖开店利润分析</a>
    </h2>鸭脖采用秘制香料精心烹制而成，融入楚湘传统美食烹饪技法，结合传统药膳食谱，博采众长，积数年心血研制而成。现属于鸭脖招牌风味系列。
    <span>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0511/43.html">【详细】</a>
    </span>
    </dd>
    <dd>
    <h2>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0509/41.html">​学习鸭脖技术，就到鸭脖全国加盟总部</a>
    </h2>
    加盟鸭脖开店做老板，无疑已经成为一条明智的致富之路。但是，加盟需谨慎。想学习正宗的鸭脖技术，请认准鸭脖全国加盟总部。
    <span><a href="http://www.whjkcy.com/html/2015/gongsixinwen_0509/41.html">【详细】</a></span></dd>
    <dd>
    <h2>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0430/6.html">高薪离职 张莉加盟鸭脖开店创业</a>
    </h2>
    大街小巷，到处都可以看到熟食店，鸭脖店的身影，投资如此低，而且可以做加盟，如此的风靡全国。29岁的张莉，为什么要选择鸭脖熟食卤味项目?就是因为鸭脖的市场大，优势多，利<span>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0430/6.html">【详细】</a></span>
    </dd>
    <dd>
    <h2>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0430/5.html">有梦想并有实现梦想的舞台是最幸福的事情</a>
    </h2>
    “如果你有梦想，如果你有实现梦想的勇气，如果你对特色餐饮行业感兴趣，我觉得鸭脖加盟就是一个实现梦想的舞台”潘林如是说。
    <span><a href="http://www.whjkcy.com/html/2015/gongsixinwen_0430/5.html">【详细】</a></span>
    </dd>
    <dd>
    <h2>
    <a href="http://www.whjkcy.com/html/2015/gongsixinwen_0430/4.html"> 特色餐饮加盟项目 鸭脖市场最火</a>
    </h2>
    湖北的美食可是非常多的，而鸭脖就是这样一个源自武汉的美味产品，鸭脖产品称得上经典美味，卤制的食品具有“鲜、麻、辣、色、香、味、”六大特点，味道独树一帜。鸭脖产
    <span><a href="http://www.whjkcy.com/html/2015/gongsixinwen_0430/4.html">【详细】</a></span>
    </dd>
    </dl>
  <div class="page"><a class="a1">8条</a> <a href="/html/News/gongsixinwen/index.html" class="a1">上一页</a> <span>1</span> <a href="/html/News/gongsixinwen/2.html">2</a> <a href="/html/News/gongsixinwen/2.html" class="a1">下一页</a></div>
  </div>
 </li>
</div>