<div class="main">
    <li class="main_l">
        <dl>
            <dt>关于我们</dt>
            <dd>
                <a href="{:U('Show/intruduce')}">公司简介</a>
            </dd>
            <dd>
                <a href="{:U('Show/cultural')}">公司文化</a>
            </dd>
            <dd id="line">
                <a href="{:U('Show/team')}">公司团队</a>
            </dd>
        </dl>
    </li>
    <li class="main_r">
    <p>公司团队</p>
    <ul>
    <li>你现在的位置:</li>
    <li>
    <a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Show/intruduce')}">关于我们</a> &gt; <a href="{:U('Show/team')}">公司团队</a> &gt; </li>
    </ul>
    <div id="wenzi">
        {$info.content|htmlspecialchars_decode}
        </div>
    </li>
</div>
