<div class="main">
    <li class="main_l">
        <dl>
            <dt>关于我们</dt>
            <dd>
                <a href="{:U('Show/intruduce')}">公司简介</a>
            </dd>
            <dd>
                <a href="{:U('Show/cultural')}">公司文化</a>
            </dd>
            <dd id="line">
                <a href="{:U('Show/team')}">公司团队</a>
            </dd>
        </dl>
    </li>
    <li class="main_r">
    <p>公司团队</p>
    <ul>
    <li>你现在的位置:</li>
    <li>
    <a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Show/intruduce')}">关于我们</a> &gt; <a href="{:U('Show/team')}">公司团队</a> &gt; </li>
    </ul>
    <div id="wenzi"><table align="left" border="0" cellpadding="1" cellspacing="1" style="widows: 1; width: 800px;">
            <tbody>
            <tr>
                <td><img src="http://www.027yb.net/uploadfile/2015/0509/20150509052831702.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="http://www.027yb.net/uploadfile/2015/0509/20150509052844943.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="http://www.027yb.net/uploadfile/2015/0509/20150509052857457.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="http://www.027yb.net/uploadfile/2015/0509/20150509052913307.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="http://www.027yb.net/uploadfile/2015/0509/20150509052929697.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="http://www.027yb.net/uploadfile/2015/0509/20150509052945865.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
            <br>
            <br>
        </div>
    </li>
</div>
