<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>加盟问答</dt>
    <dd>
    <a href="{:U('Question/index')}">常见问题</a>
    </dd>
    <dd id="line">
    <a href="{:U('Question/budget')}">投资预算</a>
    </dd>
    <dd>
    <a href="{:U('Question/condition')}">加盟条件</a>
    </dd>
    <dd><a href="{:U('Question/process')}">加盟流程</a></dd>
    <dd><a href="{:U('Question/cost')}">加盟费用</a></dd>
  </dl>
 </li>
 <li class="main_r">
  <p>常见问题</p>
   <ul>
    <li>您现在的位置：</li>
     <li>
     <a href="{:U('Index/index')}">首页</a>&gt;
     <a href="{:U('Question/index')}">加盟问答</a> &gt; 
     <a href="{:U('Question/budget')}">投资预算</a> &gt; 
     </li>
   </ul>  
  <div id="wenzi"><p>项目投资回报分析：<br>
下面以公司一加盟店发展的以销售“鸭脖”等凉卤味为主的特色休闲小吃便利店（以下称便利店)为例，对其投资回报进行如下分析。<br>
该店营业面积24平方米，地段处于步行街十字路口，繁华程度中等，周围人群收入较为稳定，消费水平中等。投资者可以参照该店2013年1月1日至2013年12月31日的经营情况对自己未来的投资与经营情况进行估计与参考。为计算简便，假设：<br>
（1）本估算省略去资金的年值折现与通货膨胀因素的影响。（2）假设每天的客流量能够稳定。（3）店内工作人员按2人计算。</p>
<p>1、投 资</p>
<table border="1" width="700">
<tbody>
	<tr>
	<td width="100">&nbsp;</td>
	<td width="100">加盟培训费</td>
	<td width="100">产品库存费</td>
	<td width="100">设备购置费</td>
	<td width="100">证照办理费</td>
	<td width="100">店铺装修费</td>
	<td width="100">投资总额</td>
	</tr>
	<tr>
	<td>金额（元）</td>
	<td>5800</td>
	<td>3000</td>
	<td>5000</td>
	<td>300</td>
	<td>10000</td>
	<td>24100</td>
	</tr>
</tbody>
</table>
<p>2、年营销售额85万元，平均每月7万元。2013年销售额为：85万元。</p>
<p>3、营业成本（月）</p>
<table border="1" width="720">
<tbody>
	<tr>
	<td width="120">&nbsp;</td>
	<td width="120">房租（月）</td>
	<td width="120">工资（月）</td>
	<td width="120">水电费（月）</td>
	<td width="120">原料成本（月）</td>
	<td width="120">其他支出（月）</td>
	</tr>
	<tr>
	<td>营业成本（元）</td>
	<td>3000</td>
	<td>4000</td>
	<td>1000</td>
	<td>3000</td>
	<td>1300</td>
	</tr>
</tbody>
</table>
<p>4、营业利润（年）</p>
<p>营业利润＝营业毛收入－运营成本。年营业利润为： 85万元－4.48万元/月*12月=31.24万元（净利润）</p>
<p>5、投资回报分析<br>
第一年营业利润为31.24万元，基本上一个月可收回总投资。</p>
<p>注：由于项目的成败受城市拆迁、经营管理、服务质量、口岸、消费水平等诸多因素的影响，就单个店铺的投资回报分析不能视为对投资者的盈利保证或承诺，因此，投资回报分析仅供投资者参考。</p>
<br>
  </div>
 </li>
  </div>