<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>加盟问答</dt>
    <dd>
    <a href="{:U('Question/index')}">常见问题</a>
    </dd>
    <dd>
    <a href="{:U('Question/budget')}">投资预算</a>
    </dd>
    <dd id="line">
    <a href="{:U('Question/condition')}">加盟条件</a>
    </dd>
    <dd><a href="{:U('Question/process')}">加盟流程</a></dd>
    <dd><a href="{:U('Question/cost')}">加盟费用</a></dd>
  </dl>
 </li>
 <li class="main_r">
  <p>常见问题</p>
   <ul>
    <li>您现在的位置：</li>
     <li>
     <a href="{:U('Index/index')}">首页</a>&gt;
     <a href="{:U('Question/index')}">加盟问答</a> &gt; 
     <a href="{:U('Question/condition')}">加盟条件</a> &gt; 
     </li>
   </ul>   
  <div id="wenzi">
  {$info.content|htmlspecialchars_decode}
  </div>
 </li>
</div>