<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>加盟问答</dt>
    <dd>
    <a href="{:U('Question/index')}">常见问题</a>
    </dd>
    <dd>
    <a href="{:U('Question/budget')}">投资预算</a>
    </dd>
    <dd id="line">
    <a href="{:U('Question/condition')}">加盟条件</a>
    </dd>
    <dd><a href="{:U('Qusetion/process')}">加盟流程</a></dd>
    <dd><a href="{:U('Question/cost')}">加盟费用</a></dd>
  </dl>
 </li>
 <li class="main_r">
  <p>常见问题</p>
   <ul>
    <li>您现在的位置：</li>
     <li>
     <a href="{:U('Index/index')}">首页</a>&gt;
     <a href="{:U('Question/index')}">加盟问答</a> &gt; 
     <a href="{:U('Question/condition')}">加盟条件</a> &gt; 
     </li>
   </ul>   
  <div id="wenzi">适合投资本项目<br>
<br>
1、具有较强的抗风险意识，有过经营背景和管理经验，对市场分析有基本概念。<br>
2、对我们的“文化、经营、模式、服务”的管理理念有认同，对熟食外卖有认知。<br>
3、对熟食外卖的经营管理能保持全力以赴。<br>
4、具备资金2-3万，资金取得合法。<br>
5、不从事违法或败坏社会道德风气的活动。<br>
&nbsp;<br>
&nbsp;不适合投资本项目<br>
&nbsp;<br>
1、不接受公司企业文化和管理理念者。<br>
2、自以为是，不配合公司，独立自主性太强，很难沟通者。<br>
3、不参与经营管理而对营业额及获利状况存在不现实期望者。<br>
4、认为投资后一切靠公司，能否赚钱公司需负最大责任者。<br>
5、家庭成员不支持选择该投资项目者。<br>
6、对选择该项目没有充分准备，无长期经营意愿者。<br>
7、资金来源取得非法，来路不明或不愿告知者。<br>
8、曾经或目前从事非法或败坏社会道德风气行业者。<br>
9、对投资该项目有其他意图者。<br>
10、合伙经营但负责人不明确者。<br>
  </div>
 </li>
</div>