<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>加盟问答</dt>
    <dd>
    <a href="{:U('Question/index')}">常见问题</a>
    </dd>
    <dd>
    <a href="{:U('Question/budget')}">投资预算</a>
    </dd>
    <dd>
    <a href="{:U('Question/condition')}">加盟条件</a>
    </dd>
    <dd><a href="{:U('Qusetion/process')}">加盟流程</a></dd>
    <dd id="line"><a href="{:U('Question/cost')}">加盟费用</a></dd>
  </dl>
 </li>
 <li class="main_r">
  <p>常见问题</p>
   <ul>
    <li>您现在的位置：</li>
     <li>
     <a href="{:U('Index/index')}">首页</a>&gt;
     <a href="{:U('Question/index')}">加盟问答</a> &gt; 
     <a href="{:U('Question/cost')}">加盟费用</a> &gt; 
     </li>
   </ul> 
  <div id="wenzi">鸭脖加盟培训费5800元，包括加盟项目，包学习期间的材料，免费安排午餐、晚餐，包括技术培训、品牌授权以及后期开店的相关指导（店面形象设计、开业营销策划、店面管理、销售技巧培训），培训期间不再收取其它任何费用。<br>
开一家鸭脖店，总体需要3万元左右。这三万元包括您开店装修需要花费的一万元和购买加工器具需要的一万元。门面租金是根据全国平均水平来计算的，可供参考，具体以当地房价为准。<br>
<table border="1" cellpadding="1" cellspacing="1" style="width: 500px">
<tbody>
	<tr>
	<td>投资总额（元）</td>
	<td>28000元</td>
	</tr>
	<tr>
	<td>设备购置费</td>
	<td>10000元</td>
	</tr>
	<tr>
	<td>店铺装修费</td>
	<td>10000元</td>
	</tr>
	<tr>
	<td>房租/月</td>
	<td>3000元</td>
	</tr>
	<tr>
	<td>原料成本/月（可循环）</td>
	<td>3000元</td>
	</tr>
	<tr>
	<td>水电费/月</td>
	<td>1000元</td>
	</tr>
	<tr>
	<td>证照办理费</td>
	<td>1000元</td>
	</tr>
</tbody>
</table>
<p>&nbsp;</p>
<br>
  </div>
 </li>
</div>