<div class="main">
  
 <li class="main_l">
  <dl>
   <dt>加盟问答</dt>
    <dd>
    <a href="{:U('Question/index')}">常见问题</a>
    </dd>
    <dd>
    <a href="{:U('Question/budget')}">投资预算</a>
    </dd>
    <dd>
    <a href="{:U('Question/condition')}">加盟条件</a>
    </dd>
    <dd id="line"><a href="{:U('Qusetion/process')}">加盟流程</a></dd>
    <dd><a href="{:U('Question/cost')}">加盟费用</a></dd>
  </dl>
 </li>
 <li class="main_r">
  <p>常见问题</p>
   <ul>
    <li>您现在的位置：</li>
     <li>
     <a href="{:U('Index/index')}">首页</a>&gt;
     <a href="{:U('Question/index')}">加盟问答</a> &gt; 
     <a href="{:U('Question/process')}">加盟流程</a> &gt; 
     </li>
   </ul> 
  <div id="wenzi">想开一家鸭脖加盟店，首先得来鸭脖全国加盟总部学习鸭脖的制作技术，5-7天，包学会，包食宿，学会后，公司颁发鸭脖的授权书，然后即可开店营业。 前期，先电话咨询：400-605-8088，电话了解最新的加盟政策和加盟费用，对各方面有了全面的了解后，预约来武汉总部考察。经过预约后，到武汉鸭脖总部实地考察，对公司的产品口味品尝满意后，双方签订加盟合同，正式加盟鸭脖.经过在武汉鸭脖总部学习一周后，颁发品牌授权书，客户即可回家开店。 店面的装修由鸭脖总部提供电子版的装修设计图，由客户所在地的装修公司来装修店面，费用客户自理。开店需要的设备（冷藏柜，展示柜也是客户所在地自行购买，无需在总公司购买）。开店需要的物料（冷冻的鸭脖，鸭头，鸭掌，等等，都是客户所在地自行采购），全国各地都有冻库，打个电话，卖速冻食品的都可以直接送货上门。那些半成品都是分割好的半成品，符合加工后直接食用卫生标准。只需解冻，无需特别的清洗即可直接加工，然后即是产品，就可以售卖了。 总体来说，开一家鸭脖店投资无需太大，包括学技术，包括店面装修，包括加工需要的设备和前期需要库存的产品，2-3万元就可以了，门面租金另外计算。 如果您对其它问题还有疑问的话，欢迎致电鸭脖加盟总部，电话：400-605-8088.<br>
1、详细阅读本加盟手册或网上浏览有关加盟资料。<br>
2、也可通过电话400-605-8088、手机短信、Email或网上咨询的方式进行意向咨询。<br>
3、根据自己的实际情况，确定是否加盟。<br>
4、前来武汉鸭脖总部实地考察。如确定加盟，签定合同、缴纳加盟费。<br>
5、加盟商提供店面的室内外尺寸，我公司装潢设计部给予免费设计，免费提供装修图纸和彩色效果图。<br>
6、加盟商参加统一的强化培训，培训期间，公司免费提供午餐、晚餐，培训合格颁发授权证书。<br>
7、正式开业，授牌仪式（也可在培训期间开业或试营业；如需我公司的礼仪小姐和形象大使到场剪彩，需负责食宿和来回机票）。<br>
8、售后服务：材料代购并办理托运、管理咨询、跟踪督导等等。<br>
全国统一加盟服务热线:400-605-8088.<br>
  </div>
 </li>
   <!-- <div class="slid">
    <dl>
     <dd class="qq"><div><a href="http://wpa.qq.com/msgrd?v=3&uin={$r[title]}&site=qq&menu=yes"><img src="/images/QQ.png" width="24" height="24" /></a></div></dd>
     <dd class="weixin"><div><a href=""><img src="/images/weixin.png" width="31" height="24" /></a></div></dd>
     <dd class="sina"><div><a href="http://weibo.com/u/5452409654/home?topnav=1&wvr=6"><img src="/images/sina.png" width="31" height="24" /></a></div></dd>
    </dl>
    <ol>
     <li><div id="qq"><img src="http://www.027yb.net/uploadfile/2015/0509/20150509050643404.gif" width="180" height="169" /></div></li>
     <li><div id="weixin"><img src="http://www.027yb.net/uploadfile/2015/0509/20150509050746124.gif" width="180" height="169" /></div></li>
     <li><div id="sina"><img src="http://www.027yb.net/uploadfile/2015/0509/20150509050727139.gif" width="180" height="169" /></div></li>
    </ol>
   </div> --> </div>